/oop/lw4/ex1-var2/ex1-var2/ex1-var2.sln
/oop/lw4/ex1-var2/ex1-var2/.vs
/oop/lw4/ex1-var2/ex1-var2/ex1-var2/Debug
/oop/lw4/ex1-var2/ex1-var2/Debug
/oop/lw3/ex1-var1/.vs
/oop/lw3/ex1-var1/catch2_tests/Debug
/oop/lw3/ex1-var1/catch2_tests/catch2_tests.vcxproj.filters
/oop/lw3/ex1-var1/catch2_tests/catch2_tests.vcxproj.user
/oop/lw3/ex1-var1/catch2_tests/catch2_tests.vcxproj
/oop/lw3/ex1-var1/ex1-var1.sln
/oop/lw3/ex1-var1/Debug
/oop/lw3/ex1-var1/ex1-var1/Debug
/oop/lw3/ex1-var1/ex1-var1/ex1-var1.vcxproj.filters
/oop/lw3/ex1-var1/ex1-var1/ex1-var1.vcxproj.user
/oop/lw3/ex1-var1/ex1-var1/TV
/oop/lw3/ex1-var1/ex1-var1/TV.obj
/oop/lw3/ex1-var1/ex1-var1/ex1-var1.vcxproj
/oop/lw2/ex3-var2/testsCatch2/Debug
/oop/lw2/ex3-var2/testsCatch2/testsCatch2.vcxproj.filters
/oop/lw2/ex3-var2/testsCatch2/testsCatch2.vcxproj.user
/oop/lw2/ex3-var2/testsCatch2/test.txt
/oop/lw2/ex3-var2/testsCatch2/testsCatch2.vcxproj
/oop/lw2/ex3-var2/ex3-var2.sln
/oop/lw2/ex3-var2/GLAUX.LIB
/oop/lw2/ex3-var2/test.txt
/oop/lw2/ex3-var2/Debug
/oop/lw2/ex3-var2/ex3-var2/Debug
/oop/lw2/ex3-var2/ex3-var2/ex3-var2.vcxproj.filters
/oop/lw2/ex3-var2/ex3-var2/ex3-var2.vcxproj.user
/oop/lw2/ex3-var2/ex3-var2/ex3-var2.vcxproj
/oop/lw2/ex3-var2/.vs
/oop/lw5/catch2
/oop/lw5/ex1-var4/ex1-var4/Debug/vc141.idb
/oop/lw5/ex1-var4/ex1-var4/Debug/vc141.pdb
/oop/lw5/ex1-var4/ex1-var4/Debug/pch.obj
/oop/lw5/ex1-var4/ex1-var4/Debug/CTime.obj
/oop/lw5/ex1-var4/ex1-var4/Debug/ex1-var4.log
/oop/lw5/ex1-var4/ex1-var4/Debug/ex1-var4.obj
/oop/lw5/ex1-var4/ex1-var4/Debug/ex1-var4.tlog
/oop/lw5/ex1-var4/Debug
/mlita/task5.3/task5.3/Debug/vc141.idb
/mlita/task5.3/task5.3/Debug/vc141.pdb
/mlita/task5.3/task5.3/Debug/task5.3.tlog
/mlita/task5.3/task5.3/Debug/pch.obj
/mlita/task5.3/task5.3/Debug/task5.3.log
/mlita/task5.3/task5.3/Debug/task5.3.obj
/mlita/task5.3/.vs
/mlita/Task11.1/Debug/Task11.1.ilk
/mlita/Task11.1/Debug/Task11.1.pdb
/mlita/Task11.1/Debug/Task11.1.exe
/mlita/task19.1/.vs
/mlita/task19.1/Debug
/mlita/task19.1/task19.1/Debug/vc141.idb
/mlita/task19.1/task19.1/Debug/vc141.pdb
/mlita/task19.1/task19.1/Debug/task19.1.tlog
/mlita/task19.1/task19.1/Debug/pch.obj
/mlita/task19.1/task19.1/Debug/task19.1.log
/mlita/task19.1/task19.1/Debug/task19.1.obj
/mlita/task19.4/Debug
/mlita/task19.4/.vs
/mlita/task19.4/task19.4/Debug/vc141.idb
/mlita/task19.4/task19.4/Debug/vc141.pdb
/mlita/task19.4/task19.4/Debug/task19.4.tlog
/mlita/task19.4/task19.4/Debug/pch.obj
/mlita/task19.4/task19.4/Debug/task19.4.log
/mlita/task19.4/task19.4/Debug/task19.4.obj
/mlita/task19.4/task19.4/Debug/task19.4.obj.enc
/mlita/task19.4/task19.4/task19.4.vcxproj.filters
/mlita/task19.4/task19.4/task19.4.vcxproj.user
/mlita/task19.4/task19.4/task19.4.vcxproj
/mlita/task19.7/task19.7.sln
/mlita/task19.7/.vs
/mlita/task19.7/Debug
/mlita/task19.7/task19.7/Debug/vc141.idb
/mlita/task19.7/task19.7/Debug/vc141.pdb
/mlita/task19.7/task19.7/Debug/task19.7.tlog
/mlita/task19.7/task19.7/Debug/pch.obj
/mlita/task19.7/task19.7/Debug/task19.7.log
/mlita/task19.7/task19.7/Debug/task19.7.obj
/mlita/task19.7/task19.7/task19.7.vcxproj.filters
/mlita/task19.7/task19.7/task19.7.vcxproj.user
/mlita/task19.7/task19.7/task19.7.vcxproj
/mlita/task19.16/task19.16.sln
/mlita/task19.16/.vs
/mlita/task19.16/Debug
/mlita/task19.16/task19.16/Debug/vc141.idb
/mlita/task19.16/task19.16/Debug/vc141.pdb
/mlita/task19.16/task19.16/Debug/task19.16.tlog
/mlita/task19.16/task19.16/Debug/pch.obj
/mlita/task19.16/task19.16/Debug/task19.16.log
/mlita/task19.16/task19.16/Debug/task19.16.obj
/mlita/task19.16/task19.16/task19.16.vcxproj.filters
/mlita/task19.16/task19.16/task19.16.vcxproj.user
/mlita/task19.16/task19.16/task19.16.vcxproj
/mlita/task19.18/task19.18.sln
/mlita/task19.18/.vs
/mlita/task19.18/Debug
/mlita/task19.18/task19.18/Debug/task19.18.log
/mlita/task19.18/task19.18/Debug/task19.18.obj
/mlita/task19.18/task19.18/Debug/vc141.idb
/mlita/task19.18/task19.18/Debug/vc141.pdb
/mlita/task19.18/task19.18/Debug/task19.18.tlog
/mlita/task19.18/task19.18/Debug/pch.obj
/mlita/task19.18/task19.18/task19.18.vcxproj.filters
/mlita/task19.18/task19.18/task19.18.vcxproj.user
/mlita/task19.18/task19.18/task19.18.vcxproj
/mlita/task19.19/task19.19.sln
/mlita/task19.19/.vs
/mlita/task19.19/Debug
/mlita/task19.19/task19.19/Debug/task19.19.log
/mlita/task19.19/task19.19/Debug/task19.19.obj
/mlita/task19.19/task19.19/Debug/task19.19.tlog
/mlita/task19.19/task19.19/Debug/pch.obj
/mlita/task19.19/task19.19/Debug/vc141.idb
/mlita/task19.19/task19.19/Debug/vc141.pdb
/mlita/task19.19/task19.19/task19.19.vcxproj.filters
/mlita/task19.19/task19.19/task19.19.vcxproj.user
/mlita/task19.19/task19.19/task19.19.vcxproj
/mlita/task19.20/task19.20.sln
/mlita/task19.20/.vs
/mlita/task19.20/Debug/task19.20.exe
/mlita/task19.20/Debug/task19.20.ilk
/mlita/task19.20/Debug/task19.20.pdb
/mlita/task19.20/task19.20/Debug/vc141.idb
/mlita/task19.20/task19.20/Debug/vc141.pdb
/mlita/task19.20/task19.20/Debug/task19.20.tlog
/mlita/task19.20/task19.20/Debug/pch.obj
/mlita/task19.20/task19.20/Debug/task19.20.log
/mlita/task19.20/task19.20/Debug/task19.20.obj
/mlita/task19.20/task19.20/task19.20.vcxproj.filters
/mlita/task19.20/task19.20/task19.20.vcxproj.user
/mlita/task19.20/task19.20/task19.20.vcxproj
/oop/lw5/ex1-var4/.vs
/oop/lw5/ex1-var4/tests/Debug/pch.obj
/oop/lw5/ex1-var4/tests/Debug/tests.log
/oop/lw5/ex1-var4/tests/Debug/tests.obj
/oop/lw5/ex1-var4/tests/Debug/vc141.idb
/oop/lw5/ex1-var4/tests/Debug/vc141.pdb
/oop/lw5/ex1-var4/tests/Debug/tests.tlog
/oop/lw5/ex1-var4/tests/Debug/CTime.obj
/oop/lw5/ex1-var4/tests/tests.vcxproj.filters
/oop/lw5/ex1-var4/tests/tests.vcxproj.user
/oop/lw5/ex1-var4/tests/tests.vcxproj
/oop/lw5/ex1-var4/ex1-var4/ex1-var4.vcxproj.filters
/oop/lw5/ex1-var4/ex1-var4/ex1-var4.vcxproj.user
/oop/lw5/ex1-var4/ex1-var4/ex1-var4.vcxproj
/mlita/Task11.1/.vs/Task11.1/v15
/mlita/Task11.1/Task11.1.sln
/mlita/Task11.1/Task11.1/Debug/Task11.1.log
/mlita/Task11.1/Task11.1/Debug/Task11.1.obj
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/CL.command.1.tlog
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/CL.read.1.tlog
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/CL.write.1.tlog
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/Task11.1.lastbuildstate
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/link.command.1.tlog
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/link.read.1.tlog
/mlita/Task11.1/Task11.1/Debug/Task11.1.tlog/link.write.1.tlog
/mlita/Task11.1/Task11.1/Debug/pch.obj
/mlita/Task11.1/Task11.1/Debug/vc141.idb
/mlita/Task11.1/Task11.1/Debug/vc141.pdb
/mlita/Task11.1/Task11.1/Task11.1.vcxproj
/mlita/Task11.1/Task11.1/Task11.1.vcxproj.filters
/mlita/Task11.1/Task11.1/Task11.1.vcxproj.user
/mlita/task19.1/task19.1.sln
/mlita/task19.1/task19.1/task19.1.vcxproj
/mlita/task19.1/task19.1/task19.1.vcxproj.filters
/mlita/task19.1/task19.1/task19.1.vcxproj.user
/mlita/task19.4/task19.4.sln
/mlita/task5.3/Debug/task5.3.exe
/mlita/task5.3/Debug/task5.3.ilk
/mlita/task5.3/Debug/task5.3.pdb
/mlita/task5.3/task5.3.sln
/mlita/task5.3/task5.3/task5.3.vcxproj
/mlita/task5.3/task5.3/task5.3.vcxproj.filters
/mlita/task5.3/task5.3/task5.3.vcxproj.user
/oop/lw5/ex1-var4/ex1-var4.sln
